<!--THE MAIN STRUCTURE OF THE CODE WAS TAKING FROM https://github.com/mikhail-cct/xml-bootcamp -->
<!DOCTYPE html>
<html lang="en">
    
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CA1 IWA">
    <meta name="author" content="William Souza 2020449 forking from https://github.com/mikhail-cct/xml-bootcamp ">

    <title>Mr Handyman </title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark static-top bg-info">
    <div class="container">
            <a class="navbar-brand" href="index.html">Mr Handyman</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-dark" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                   <li class="nav-item"></li>
                        <a class="nav-link active" href="index.html">Home
                            <span class="sr-only">(current)</span>
                          </a>
                    <li class="nav-item">
                    <a class="nav-link" href="staff.html">Staff</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contactus.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
    <!-- Page Content -->
    <main role="main"> <!-- The main function keeps all page code inside -->
    
    
        
    <div class="container">
          <div class="row justify-content-md-center">
        <div class="col-md-10"> 
         
          <h1 class="display-4 ">Who are we?</h1>
           <p>We can proudly say we are an irish family business which was founded in 2000 and has been growing since. 
              We also count on more than 200 staff which are more than happy to help you to not struggle with house issues.
              We cover varius services in all Dublin area. 
              Please feel free to contact us by phone our leave a message and we will call you back shortly</p>
             </div>
        </div>
        </div>
     <div class="container">
        <!-- Example row of columns -->
        <div class="row justify-content-md-center">
        <div class="col-md-5">
              
            <h2>Painting</h2>
            <p>Our painting services include indoor and outdoor services.
                 We do reapainting in general and new buildings or constructions. </p>
        </div>
        <div class="col-md-5">
            <h2>Plumbering</h2>
            <p>We work with all kind of plumbering. Our services cover intern and external pipes and waste tubulation</p><p>
        </p></div>
         <div class="w-100"></div>
        <div class="col-md-5">
            <h2>Eletric</h2>
            <p>Our eletrician team is compounded by eletric enginneers and eletricians who are high skilled to deal with any situation.
        </p></div>
        <div class="col-md-5">
            <h2>Heating</h2>
            <p>We work with all heating systems and we also do installations. We have team member who are over 10 years experienced in the field </p><p></p></div>
        </div>
         
    </div>
   <div class="container">
        <div class="row justify-content-md-center">
        <a class="btn btn-info btn-md" href="contactus.html" role="button">Contact us</a>
    </div>
    </div>
    
                
    </main>                                    
    <div class="card bg-info">
    <footer class="card-footer ">
        <div class="container text-center"><span>©Mr Handyman 2020</span></div>
   </footer></div>
 
 
    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/services.js"></script>
    

</body>
</html>