<!--William Souza
    CCT BSC COmputing
    ID 2020499
-->
<!DOCTYPE html>
<html lang="en">
    
<head>

      <%- include('../views/partials/head.ejs'); %>
</head>
       
<body>
<!-- Header for partial ejs convertion-->
 <header>  
      <%- include('../views/partials/header.ejs'); %>
        
    
 </header>        
    <!-- Page Content -->
    <main role="main"> <!-- The main function keeps all page code inside -->
    
   
        
    <div class="container">
          <div class="row justify-content-md-center">
        <div class="col-md-10"> 
         
          <h1 class="display-4 ">Who are we?</h1>
           <p>We can proudly say we are an Irish family business which was founded in 2000 and has been growing since. 
              We also count on more than 200 staff which are more than happy to help you to not struggle with house issues.
              We cover various services in all Dublin area. 
              Please feel free to contact us by phone our leave a message and we will call you back shortly</p>
             </div>
        </div>
        </div>
     <div class="container">
        <!-- Example row of columns -->
        <div class="row justify-content-md-center">
        <div class="col-md-5">
              
            <h2>Painting</h2>
            <p>Our painting services include indoor and outdoor services.
                 We do repainting in general and new buildings or constructions. </p>
        </div>
        <div class="col-md-5">
            <h2>Plumbing</h2>
            <p>We work with all kind of plumbing. Our services cover intern and external pipes and wasting </p><p>
        </p></div>
         <div class="w-100"></div>
        <div class="col-md-5">
            <h2>Electric</h2>
            <p>Our electrician team is compounded by electric engineers and electricians who are high skilled to deal with any situation.
        </p></div>
        <div class="col-md-5">
            <h2>Heating</h2>
            <p>We work with all heating systems and we also do installations. We have team member who are over 10 years experienced in the field </p><p></p></div>
        </div>
         
    </div>
  
    
                
    </main>                                    
    <div class="card bg-info">
    <footer class="card-footer ">
       
        <%- include('../views/partials/footer.ejs'); %>
   </footer></div>
 
 
    <!-- Bootstrap core JavaScript -->
 
    
    

</body>
</html>