<html lang="en">

<head>
     <%- include('../views/partials/head.ejs'); %>
 </head>
    <body>
<header>
        <%- include('../views/partials/header.ejs'); %>
</header>
         <!-- Page Content -->
            <div class="table-container">
            <div class="row justify-content-md-center">
            <div class="col-md-15"> 
            <h1 class="display-5 ">Client's messages</h1>
            <p>All messages received can be found in the table below.
            Once the client is contacted, please delete the message.
            </p>
      
     
  <main>
        
        <div class="table-container">
            <div class="table-wrapper">
               <table id="table" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Section</th>
                            <th>Name Date</th>
                            <th>Phone</th>
                            <th>Location</th>
                            <th>Message</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                            <tbody>
                           <%- include('partials/table'); %>
                          </tbody>
                         </table>
                        </div>
                       </div>
                      </main>
                     </div>
                    </div>
                   </body>
                    <div class="card bg-info">
            <footer class="card-footer ">
                <%- include('partials/footer'); %>
    </footer></div>
 
</html>    

